#filter .flex-container > div:nth-child(1) img {
  filter: blur(2px);
}

#filter .flex-container > div:nth-child(2) img {
  filter: brightness(1.0);
}

#filter .flex-container > div:nth-child(3) img {
  filter: contrast(0.5);
}

#filter .flex-container > div:nth-child(4) img {
  filter: grayscale(0.8);
}

#filter .flex-container > div:nth-child(5) img {
  filter: hue-rotate(260deg);
}

#filter .flex-container > div:nth-child(6) img {
  filter: invert(1.0);
}

#filter .flex-container > div:nth-child(7) img {
  filter: opacity(0.5);
}

#filter .flex-container > div:nth-child(8) img {
  filter: saturate(0.5);
}

#filter .flex-container > div:nth-child(9) img {
  filter: sepia(0.8);
}

#filter .flex-container > div:nth-child(10) img {
  filter: drop-shadow(8px 8px 10px rgb(240, 10, 10));
}